

<form>
    <div class="mb-3"><label for="nom" class="form-label">Nom Tarif</label><input type="text"
        class="form-control" [(ngModel)]="ta.nom"/>
  
    </div>
    <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Description</label><input type="text"
        class="form-control" id="exampleInputPassword1"  [(ngModel)]="ta.description"></div>

        <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Prix</label><input type="text"
            class="form-control" id="exampleInputPassword1"  [(ngModel)]="ta.prix"></div>
  
  
  
  
  
  
  
  
            <button type="submit"
      class="btn btn-primary" (click)="add()">Submit</button>
  </form>
  
  
  