<div class="col-md-8 offset-md-3">
    <h3 style="text-align: center;font-family: 'Times New Roman';font-size: x-large;color: #007bff">Modifier Utilisateur</h3>
  
    <form (ngSubmit)="onSubmit()">
  
  
      <div class="form-group">
        <label>Nom Utilisateur</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="us.nom" >
      </div>
      <div class="form-group">
        <label>Prenom</label>
        <input type="text" class="form-control" id="prenom"
        [(ngModel)]="us.prenom" name="prenom">
      </div>
  
      <div class="form-group">
        <label>Date de naissance</label>
        <input type="text" class="form-control"
               [(ngModel)]="us.datenaiss" name="datenaiss">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control"
               [(ngModel)]="us.email" name="email">
      </div>
      <div class="form-group">
        <label>Telaphone</label>
        <input type="text" class="form-control"
               [(ngModel)]="us.telephone" name="telephone">
      </div>
      <div class="form-group">
        <label>Poids</label>
        <input type="text" class="form-control"
               [(ngModel)]="us.poids" name="poids">
      </div>
     
  
      <div class="form-element">
        <button  color="primary" type="submit" class="btn btn-success" style="background-color: darkcyan" (click)="modif()">Modifier</button>
        <button  color="primary" (click)="retour()"  class="btn btn-danger" style="background-color: #8B4043">Retour</button>
      </div>
  
  
    </form>
  </div>
  